
* {
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display:grid;
    grid-template-columns: 85px 50px;
    justify-content: center;
    align-items: center;
    margin:10px;
    font-family: 'Yomogi', cursive;
    font-size:4rem;
}

.input-container{
    display:grid;
    grid-template-rows:  50px 50px;
    justify-content:right;
    align-items:initial;
    grid-gap:10px;
    
}

input{
   border:1px dashed;
   font-family: 'Yomogi', cursive;
   height:50px;
   margin-right:10px;
   font-size:2rem;
}

.button-container{
    display:grid;
    grid-template-rows:  50px 50px 50px 50px;
    justify-content: center;
}

.buttons{
    height:40px;
    width:40px;
    background-color: white;
    font-family: 'Yomogi', cursive;
    border:1px dashed;
    margin:5px;
}

.solution {
    font-size:2rem;
}

