
* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px 00px;
    justify-content: center;
    align-items: center;
    margin:10px;
    font-family: 'Yomogi', cursive;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;  
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution {
}

